@import '../../styles/design.scss';

.article {
    @include box();
    width: 100%;

    table {
        border-collapse: collapse;
        td, th {
            border: 1px solid black;
            padding: .2em;
        }
    }
}

.sideBox {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    margin-right: .5em;

    &Right {
        float: right;
        margin-right: 0;
        margin-left: .5em;
    }
}

.clear {
    clear: both;
}

.figure {
    @include figure();
    height: 6rem;
    width: 6rem;
    position: relative;
}

.sprite {
    @include sprite();
}