@import '../../styles/design.scss';

.button {
    @include input();
    margin-right: .5rem;
    margin-top: .25rem;
}

.productionDialogueFrame {
    min-width: 20em;
}

.productionItemList {
    list-style: none;
    margin: 0;
    padding: 1rem;

    max-height: 24rem;
    overflow-y: auto;
    overflow-x: visible;
}

.productionItem {
    @include input();
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: .2rem;
    min-width: 10rem;
    cursor: pointer;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }

    &>span:last-child {
        margin-left: auto;
    }
}

.productionItemText {
    display: block;
    flex-basis: 100%;

    &>p {
        margin: 0;
    }
}

.unitStatSet {
    display: flex;
    justify-content: space-between;
}

.unitStat {
    display: inline-flex;
    padding: .1em;
    align-items: center;

    &.production {
        color: grey;
    }
}

.figure {
    @include figure();
    height: 2rem;
    width: 2rem;
    position: relative;
    margin-right: .5rem;
    flex-shrink: 0;
}

.sprite {
    @include sprite();
}