@import '../styles/design.scss';

.dialogueHolder {
    @include dialogueHolder();  
}

.dialogueFrame {
    padding: .5rem;
    border: 5px double black;
    background-clip: border-box;
    background-color: white;
}