@import '../styles/animations.scss';


.citizenFigure {
    display: inline-block;
    width: 2em;
    height: 2em;
    position: absolute;
    transform: translateX(-50%);

    &.unhappy {
        filter: invert(0.9) hue-rotate(45deg);
    }
    &.happy {
        filter: brightness(1.5) drop-shadow(0px 0px 4px gold);
    }
    &.happy.unhappy {
        filter:none;
    }
}


.splitRowContainer {
    display: flex;

    .citizenRow {
        position: relative;
    }
}

.citizenRow {
    max-width: 100%;
    position: relative;
    height: 2em;

    &:not(:empty) {
        margin: 0 1em;
    }

    &.rowInFactionWindow {
        font-size: 75%;
        margin-top: .2em;
    }

    &.inRevolt .citizenFigure:not(.happy) {

        animation-name: revolt;
        animation-direction: alternate;
        animation-duration: .4s;
        animation-iteration-count: infinite;

        &:nth-of-type(2n) {
            animation-duration: .3s;
        }

        &:nth-of-type(3n) {
            animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:nth-of-type(4n-1) {
            animation-delay: .01s;
        }
    }
}