@import '../styles/design.scss';

.reportHeading {
    margin-bottom: 0;
}

.reportTable {
    @include box();
    display: block;

    &>section {
        padding: .2rem 0;

        &:not(:last-child) {
            border-bottom: 1px dashed;
        }
    }

    h3 {
        margin: 0;
        text-transform: capitalize;
    }

    &.budget {

        &>section {

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
    
            &>div {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                flex-grow: 1;
                max-width: 100%;
            }
        }

        h3 {
            flex-basis: 8rem;
            margin-right: .5rem;
        }

    }

    .productionBlock {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}