@import '../styles/design.scss';

.reportHeading {
    margin-bottom: 0;
}

.reportTable {
    @include box();
    display: block;

    &>section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: .2rem 0;

        &:not(:last-child) {
            border-bottom: 1px dashed;
        }

        &>div {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    h3 {
        margin: 0;
        text-transform: capitalize;
        flex-basis: 8rem;
        margin-right: .5rem;
    }
}