.gameHolder {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    position: relative;
}

.tileBoardHolder {
    overflow: scroll;
    box-sizing: border-box;
    flex-shrink: 0;
    max-height: 40rem;
}

.interfaceWindowHolder {
    box-sizing: border-box;
    flex-basis: 100%;
    flex-shrink: 1;
}

