@import '../styles/design.scss';

@mixin interfaceWindow {
    position: fixed;
    background-color: rgba(white, .5);
    z-index: 90;
    user-select: none;
}

.tileBoardHolder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: scroll;
    padding: ($interfaceWindowHeight + $windowPadding) 0 ($lowerWindowHeight + $windowPadding ) 0;
}

.upperInterfaceWindow {
    @include interfaceWindow();
    top: 0;
    left: 0;
    width: 100%;
    padding: $windowPadding;
    height: $interfaceWindowHeight;
}

.lowerInterfaceWindow {
    @include interfaceWindow();
    display: flex;
    align-items: center;
    bottom: $windowPadding*2;
    right: $windowPadding;
    padding: $windowPadding;
    height: $lowerWindowHeight;
}

.waitMessage {
    font-size: 200%;
}
