$interfaceWindowHeight: 6rem;
$lowerWindowHeight: 4rem;
$windowPadding : .5rem;


.gameHolder {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    position: relative;
}

.tileBoardHolder {
    padding: ($interfaceWindowHeight + $windowPadding) $windowPadding ($lowerWindowHeight + $windowPadding )$windowPadding;
}

.upperInterfaceWindow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: $interfaceWindowHeight;
    z-index: 100;
    padding: 0 $windowPadding $windowPadding $windowPadding;
}

.lowerInterfaceWindow {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    height: $lowerWindowHeight;
    z-index: 100;
    padding:  $windowPadding;
}
