@import '../styles/design.scss';

.container {
    position: relative;
    display: inline-block;

    font-size: 80%;

    @media (min-width: $layout-breakpoint) {
        font-size: unset;
    }
}

.frame {
    display: block;
    position: relative;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

