.container {
    position: relative;
    display: inline-block;
}

.frame {
    display: block;
    position: relative;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.citizenFigure {
    position: absolute;
    width: 4em;
    height: 4em;
    display: inline-block;
    color: white;
    margin: 0;
}

.spriteOnMapSection {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    bottom: 0;
}