.container {
    background-color: black;
    padding: .5rem;
    position: relative;
    display: inline-block;
}

.frame {
    display: block;
    position: relative;
}

.row {
    display: flex;
    flex-flow: row nowrap;
}

.citizenFigure {
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: 3px dotted red;
    color: white;
    margin: 0;
}

.spriteOnMapSection {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    right: 0;
    bottom: 0;
}