@import '../styles/design.scss';

.button {
    @include input;
    font-size: medium;
    text-align: center;
    padding: .5rem;
    min-width: 8rem;
    font-variant: small-caps;
    
}

.holder {
    margin-right: 1rem;
    padding-right: .5rem;
}