@import '../styles/design.scss';


.fullWidthBox {
    @include box();
    width: 100%;

    .innerBox {
        max-width: 20rem;
        box-sizing: content-box;
        margin: 0 auto;

        .row {
            margin: .2rem 0;
        }
    }
}


.box {
    @include box();
    align-self: start;
    width: 10rem;
    box-sizing: content-box;
}

.row {
    min-height: 1rem;
    display: block;
    flex-wrap: nowrap;
    position: relative;
}

.label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #fff, $alpha: .5);
    padding: .2em;

    &.top {
        bottom: unset;
        right: unset;
        top: 0;
        left: 0;
    }
}