@import '../styles/design.scss';

.box {
    @include box();
    align-self: start;
    width: 10rem;
    box-sizing: content-box;
}

.row {
    min-height: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

.label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba($color: #fff, $alpha: .5);
    padding: 0 .2em .2em 0;
}