
.infoRow {
    display: flex;
    justify-content: flex-start;
}

.infoBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 4rem;
}

.infoList {
    margin: 0;
    list-style: none;
    padding: 0.5rem;
}

.infoListRight {
    text-align: right;
}

.infoLine {
    font-size: medium;
}