@import '../styles/design.scss';

.box {
    @include box();
    width: 100%;
    box-sizing: content-box;
    min-height: 4rem;
}

.list {
    margin: 0;
    padding:0;
    list-style: none;
    font-size: 50%;
}

.item {
    display: inline-block;
}