@import '../styles/design.scss';

.article {
    overflow: auto;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: .5em;
}

.border {
    border-top: 1px solid black;
    padding-top: 1em;
    margin-top: 1em;
}

.box {
    @include box();
}

.svg {
    margin: 0 auto;
    display: block;
}

.techG {
    cursor: default;

    &.possibleResearchGoal {
        cursor: pointer;

        &:hover .techPolygon {
            stroke: black;
            stroke-dasharray: 1;
            fill: lightblue;
        }
    }
}

.techPolygon {
    fill: white;

    &.known {
        stroke: black;
        fill: yellow;
    }
    
    &.possibleResearchGoal {
        fill: lightgreen;
    }

    &.currentResearchGoal {
        stroke: black;
        stroke-dasharray: 1;
        fill: lightblue;
    }
}

.techText {
    font-size: 12px;
    font-family: arial, sans-serif;
}

.infoLink {
    circle {
        fill: blue;
    }

    text {
        stroke: white;
        fill: white;
    }

    &:hover {
        circle {
            fill: lightblue;
        }
        text {
            fill: black;
            stroke: black;
        }
    }
}