.row {
    display: flex;
    flex-flow: row nowrap;
}


.tile {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    font-size: x-small;
    flex-shrink: 0;
}

.selected {
    filter: brightness(1.75);
}

.hovered {
    filter: brightness(1.75);
}

.inRange {
    &::after {
        content: '';
        z-index: 10 !important;
        position: absolute;
        left: 0;
        top: 0;
        

        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;

        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid white;
        filter: none;
    }
}

.inRangeHovered {
    &::after {
        background-color: rgba($color: white, $alpha: .5);
    }
}

.spriteHolder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

.yieldLine {
    margin: 0;
    color: white;
    font-size: medium;
    z-index: 1;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 0 0 black);
}
