.row {
    display: flex;
    flex-flow: row nowrap;
}

.tileBoard {
    transition: font-size .5s;
    transition-timing-function: linear;
    position: relative;
}

.tile {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 0;
    flex-shrink: 0;

    &.selected {
        filter: drop-shadow(-2px -2px 1px white) drop-shadow(2px 2px 1px white);
        z-index: 2;
    }

    &.inMoveMode:not(.inRange):hover {
        filter: drop-shadow(-2px -2px 1px white) drop-shadow(2px 2px 1px white);
        z-index: 2;
    }

    &.inRange {
        &::after {
            content: '';
            z-index: 10 !important;
            position: absolute;
            left: 0;
            top: 0;

            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            box-sizing: border-box;
            border-radius: 50%;
            border: 2px solid white;
            filter: none;
        }

        &:hover::after {
            background-color: rgba($color: white, $alpha: .5);
        }
    }


    &.occupied {
        border: 3px dotted red;
    }

}


.spriteHolder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;

    &.notInSight {
        filter: brightness(.2);
    }
}

.yieldLine {
    margin: 0;
    color: white;
    z-index: 1;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 0 0 black);
}
