@import '../styles/design.scss';

.figure {
    width: 4rem;
    height: 4rem;
    margin: 0;
}

.figureOnMap {
    position: absolute;
    transition: left .5s, top .5s;
}

.figureInInfoRow {
    position: relative;
}

.sprite {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: .5;
    border-radius: 1rem;
}


.fallenSprite {
    filter: brightness(.5);
}

.caption {
    position: absolute;
    pointer-events: none;
    display: inline-block;
    background-color: white;
    padding: .1rem .2rem;
    border-radius: .5rem;
    bottom: 0;
    letter-spacing: 1px;
    left: 50%;
    transform: translateX(-50%) translateY(65%);
}

.populationNumber {
    position: absolute;
    color: white;
    filter: $dialogueDropShadowFilter;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5rem;
}

.yieldLine {
    margin: 0;
    color: white;
    font-size: medium;
}