.frame {
    display: flex;
    flex-flow: row wrap;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    
    h2 {
        margin: 0;
    }
}

.black {
    background-color: black;
    padding: .5rem;
}

.citizenFigure {
    display: inline-block;
    width: 3em;
    height: 3em;
    position: relative;
}

.citizenRow {

}