@import '../styles/design.scss';

.frame {
    display: block;
}

.section {
    float: left;
    display: flex;
    flex-direction: column;
    padding: 0 .5rem;
    margin-bottom: .5rem;
    max-width: 20rem;
    box-sizing: content-box;

    h2 {
        margin: 0;

        span {
            font-size: 70%
        }
    }

    @media (min-width: $layout-breakpoint) {
        min-height: 9rem;
    }
}

.mapSection {
    @include box();

    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;

    @media (min-width: $layout-breakpoint) {
        margin-top: 1.8rem;
        float: left;
    }
}

.caption {
    margin: 0;
}