@import '../styles/design.scss';

.turnButtonsMenu {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 10rem;
}

.button {
    @include letterButton;
    @include input; // adds .buttonDisabled and .buttonCancel subclass
}

.endButton {
    font-variant: small-caps;
    font-size: large;
}


@keyframes highlight {
    0% {
        background-color: white;
    }
    100% {
        background-color: red;
    }
}

.highlight {
    animation-name: highlight;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
