.figure {
    width: 4rem;
    height: 4rem;
    margin: 0;
}

.onMap {
    position: absolute;
    top:0;
    left: 0;

    transition: left .5s, top .5s;
}

.inInfoRow {
    position: relative;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

.flashing {
    animation-name: flash;
    animation-direction: alternate;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.sprite {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.selected {
    z-index: 5;
}

.behind {
    filter: brightness(.5);
}