@import '../styles/design.scss';

.figure {
    @include figure();
    z-index: 10;

    &.onMap {
        position: absolute;
    }

    &.inInfoRow {
        position: relative;
    }

    &.topOfStack {
        z-index: 11;
    }

    &.slide {
        transition: left .2s, top .2s;
        transition-timing-function: linear;
    }
}

.sprite {
    @include sprite();
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

.flashingSprite {
    animation-name: flash;
    animation-direction: alternate;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes fall {

    0% {
        transform:  translateX(0%) translateY(0%) rotate(0deg);
        opacity: 1;
    }
    15% {
        transform: translateX(20%) translateY(-25%) rotate(0deg) ;
        opacity: 1;
    }
    65% {
        transform:  translateX(80%) translateY(15%) rotate(90deg);
        opacity: .8;
    }
    100% {
        transform:  translateX(80%) translateY(15%) rotate(90deg);
        opacity: 0;
    }

}

.fallenSprite {
    transform:  translateX(80%) translateY(15%) rotate(90deg);
    opacity: 0;
    animation-name: fall;
    animation-duration: 1s;
    pointer-events: none;
}


.orderFlag {
    position: absolute;
    display: block;
    margin: 0;
    bottom: 0;
    right: 0;
    padding: .2em;
    font-size: 1em;
    background-color: white;
    color: black;
}



.behind {
    filter: brightness(.5);
}
