@import '../styles/design.scss';

.window {
    padding: $windowPadding;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $layout-breakpoint) {
        max-width: 50rem;
    }
}

.header {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: .5rem;

    h1, p {
        margin: 0;
    }
}

.buttonHolder {
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding-bottom: $windowPadding;
}

.button {
    @include input();
    margin-left: .3rem;
}