@import './design.scss';

.dialogueHolder {
    @include dialogueHolder();
}

.nonBlockingDialogueHolder {
    position: fixed;
    z-index: 100;
    right: $windowPadding *2;
    top: $interfaceWindowHeight + $windowPadding*2;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;

    padding: $windowPadding;
}

.dialogueFrame {
    @include dialogueBox();

    &.tutorial {
        background-color: $tutorial-background;
        opacity: .9;
        max-width: unset;
    }
}

.pickUnitsDialogue {
    @include dialogueBox();
    max-height: 24rem;
    overflow-y: auto;

    .unitBlock:not(:last-child) {
        margin-bottom: .5rem;
    }
}

.messageList {
    padding: 0;
    list-style-position: inside;
}

.buttonRow {
    display: flex;
    justify-content: space-around;
    margin: .5rem 0;
}

.buttonRowLabel {
    flex-basis: 8rem;
}

.button {
    @include input;
    font-size: large;
}

.headerRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 18rem;
    margin: 0 0 .5rem 0;

    h2 {
        margin: 0;
    }
}

.unitRow {
    display: flex;
    justify-content: center;
    min-width: 24rem;
    margin: .5rem 0;
}

.unitBlock {
    cursor: pointer;
    display: flex;
    align-items: center;

    ul {
        margin: 0;
    }
}

.techBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;

    &:not(:last-child) {
        margin-bottom: .5rem;
    }

    .button {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

}

.scoreSummary {

    p {
        margin: 0;
        font-size: small;

        &:first-child {
            font-weight: bold;
        }

        &:last-child {
            border-top: 1px solid black
        }
    }
}

.errorText {
    color: red;
}
