@import './design.scss';

.container {
    @include box();
    display: block;
    padding: $windowPadding;

    h1,h2 {
        margin: 0 0 .25em 0;

        &:not(:first-child) {
            margin: 1em 0 .25em 0;
        }
    }

    p,ul,ol {
        margin: 0 0 .75em 0;
    }

    a {
        text-decoration: underline;
    }

}
